.Conteneur-Contact{
   width: 100%;
   display: flex;
}

.zone-intervention{
    width: 45%;
    height: 700px;
    text-align: center;
    color: $color-2;
    padding-top: 10px;
}

.intervention1{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.356);
    border: 3px groove $color-3;
    color: $color-2;
    font-size: 20px;
    height: 45%;
    width: 98%;
    padding-top: 10px;
}

.intervention2{
    background-color: rgba(0, 0, 0, 0.356);
    border: 3px groove $color-3;
    margin-top: 20px;
    color: $color-2;
    font-size: 20px;
    height: 45%;
    width: 98%;
    padding-top: 10px;
}

.photoLocation{
    width: 30px;
    height: 30px;
    margin: 3px; 
}

.text-center2{
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 23.5%;
}
.text-center3{
    position: absolute;
    font-weight: bold;
    top: 54.5%;
    left: 23.5%;
}
.text-center4{
    position: absolute;
    font-weight: bold;
    top: 58.8%;
    left: 23.5%;
}
.text-center5{
    position: absolute;
    font-weight: bold;
    top: 63%;
    left: 23.5%;
}
.text-center6{
    position: absolute;
    font-weight: bold;
    top: 67.5%;
    left: 23.5%;
}
.text-center7{
    position: absolute;
    font-weight: bold;
    top: 72%;
    left: 23.5%;
}
.text-center8{
    position: absolute;
    font-weight: bold;
    top: 76%;
    left: 23.5%;
}
.text-center9{
    position: absolute;
    font-weight: bold;
    top: 85%;
    left: 16%;
}
.text-center10{
    position: absolute;
    font-weight: bold;
    top: 89%;
    left: 18.2%;
}
.text-center11{
    position: absolute;
    font-weight: bold;
    top: 93.5%;
    left: 14.7%;
}
.text-center12{
    position: absolute;
    font-weight: bold;
    top: 98%;
    left: 13.8%;
}
.text-center13{
    position: absolute;
    font-weight: bold;
    top: 102.5%;
    left: 16.8%;
}
.text-center14{
    position: absolute;
    font-weight: bold;
    top: 106.5%;
    left: 15.8%;
}
.text-center15{
    position: absolute;
    font-weight: bold;
    top: 111%;
    left: 16%;
}

/*rendre le site parfaitement responsive */

@media screen and (max-width: 600px)
{
    .zone-intervention{
        width: 100%;
    }
    .Conteneur-Contact{
        display: flex;
        flex-wrap: wrap;
    }
    .photoLocation{
        width: 25px;
        height: 25px;
        margin: 5px;
    }
    .text-center2{
        top: 58%;
        left: 55%;
        font-size: 12px;
    }
    .text-center3{
         top: 63%;
        left: 55%;
        font-size: 12px;
    }
    .text-center4{
       top: 67.5%;
        left: 55%;
        font-size: 12px;
    }
    .text-center5{
        top: 72.5%;
        left: 55%;
        font-size: 12px;
    }
    .text-center6{
        top: 77.5%;
        left: 55%;
        font-size: 12px;
    }
    .text-center7{
       top: 82.5%;
        left: 55%;
        font-size: 12px;
    }
    .text-center8{
       top: 87.5%;
        left: 55%;
        font-size: 12px;
    }
    .text-center9{
        top: 99.5%;
        left: 32%;
        font-size: 12px;
    }
    .text-center10{
        top: 103.5%;
        left: 37%;
        font-size: 12px;
    }
    .text-center11{
        top: 109%;
        left: 28%;
        font-size: 12px;
    }
    .text-center12{
        top: 114%;
        left: 26%;
        font-size: 12px;
    }
    .text-center13{
        top: 119%;
        left: 32%;
        font-size: 12px;
    }
    .text-center14{
        top: 124%;
        left: 31%;
        font-size: 12px;
    }
    .text-center15{
        top: 128.5%;
        left: 32%;
        font-size: 12px;
    }   
}